:root { 
--blue_gray_100_01:#c9cfd2; 
--blue_gray_100_02:#d1d1d6; 
--red_400:#ee5858; 
--amber_A200:#efd33d; 
--green_700:#2db223; 
--red_50:#fff3eb; 
--blue_gray_200_01:#adb7bc; 
--black_900_01:#050505; 
--black_900:#000000; 
--blue_gray_700:#475156; 
--blue_gray_900:#242e39; 
--blue_gray_200:#a1aebe; 
--gray_400:#aeaeae; 
--blue_gray_100:#d9d9d9; 
--blue_700:#0162dd; 
--blue_gray_400:#76868e; 
--blue_gray_300:#929fa5; 
--gray_800:#404040; 
--blue_gray_600:#5f6c72; 
--blue_500:#2ca4f3; 
--gray_900:#191c1e; 
--gray_300:#e4e7e9; 
--gray_100:#f1f1f5; 
--indigo_400:#5a6cb8; 
--indigo_100:#b9c8f3; 
--gray_900_1e:#191c1e1e; 
--gray_100_01:#f2f3f4; 
--indigo_900:#213481; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--indigo_500:#3f5ac5; 
}